.housingBlock {
    margin: 5px auto;
    padding: 5px;
    max-width: 650px;
    min-height: 175px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 7px 5px 4px darkblue;
    border: 2px solid blue;
    border-radius: 15px;
}

.tenants {
    margin: 5px;
    padding: 5px;
    border: 1px solid dodgerblue;
    border-radius: 15px;
    height: 150px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoGroup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
}

.name {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    min-width: 70px;
    align-items: center;
}

.infoUser {
    min-width: 140px;
}

.infoTenants {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.blockButton {
    display: flex;
    justify-content: space-around;
    /*margin-bottom: 10px;*/
    height: 50px;
    background-color: aliceblue;
    border-radius: 10px 10px;
}

.timeInfo {
    margin: 2% 10%;
    font-weight: bold;
    font-size: 30px;
    font-style: oblique;
    text-align: center;
}
.timeErrorInfo {
    margin: 2% 10%;
    font-weight: bold;
    font-size: 30px;
    font-style: oblique;
    text-align: center;
    color: red;
}